nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  height: 56px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  h1 {
    font-size: 18px;
  }
}

.submit {
  border: 1px solid black;
  padding: 5px 10px;
  transition: background 0.2s ease, color 0.2s ease;

  &:hover {
    color: white;
    background: black;
  }
}

.margin {
  margin-right: 30px;
}

.logo {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
