@import 'variables';

:host {
  display: block;
  height: 100%;
}

nav {
  align-items: center;
  background: white;
  color: white;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  left: $screen-margin;
  position: fixed;
  top: $screen-margin;
  height: 56px;
  z-index: 99;
  border: 1px solid lightgrey;

  button {
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 56px;
    height: 100%;
    background: none;
    transition: all 0.1s linear;

    &:first-child {
      border-right: 1px solid lightgrey;
    }

    &:focus,
    &:hover {
      background: $button-hover;
      outline: none;

      svg {
        fill: white;
      }
    }
  }

  @media screen and (max-width: 749px) {
    top: $screen-margin;
  }
}

.submit {
  border: 1px solid $black;
  padding: 5px 10px;
  transition: background 0.2s ease, color 0.2s ease;
  position: fixed;
  right: $screen-margin;
  top: $screen-margin;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  font-size: 22px;
  z-index: 99;
  border: 1px solid lightgrey;

  @media screen and (max-width: 749px) {
    top: $screen-margin;
  }

  @media screen and (min-width: 750px) {
    padding: 0 20px 0 12px;
  }

  svg {
    @media screen and (min-width: 750px) {
      margin-right: 10px;
    }
  }

  &:focus,
  &:hover {
    outline: none;
    background: $button-hover;
    color: white;

    svg {
      fill: white;
    }
  }
}

.logo {
  font-size: 16px;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: $black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $mobile-logo-height;
  text-align: center;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  opacity: 1;
  transition: opacity 0.2s ease;

  a {
    color: white;
  }
}

svg {
  fill: $black;
  width: 32px;
  height: 32px;
}

.instruction {
  background: rgba(black, 0.8);
  min-height: 80px;
  position: fixed;
  width: 400px;
  color: white;
  left: 50%;
  top: 50%;
  flex-direction: column;
  pointer-events: none;
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 22px;
  line-height: 32px;
  opacity: 1;
  transition: opacity 0.4s ease;

  @media screen and (max-width: 749px) {
    max-width: calc(100vw - 30px);
    font-size: 15px;
    line-height: 24px;
    margin: unset;

    p {
      margin: 5px 0;
    }
  }

  &.hide {
    opacity: 0;
  }

  &.destroy {
    display: none;
  }
}

.words {
  position: fixed;
  width: 224px;
  height: calc(
    100% - #{$nav-button-height} - #{$screen-margin * 3} - #{$mobile-logo-height}
  );
  right: 15px;
  top: 86px;
  background: rgba(black, 0.75);
  overflow-y: scroll;
  padding: 20px;
  color: white;
  display: none;

  &.show {
    display: block;
  }

  @media screen and (max-width: 749px) {
    display: none !important;
    font-size: 13px;
    width: 160px;
    padding: 15px;
    top: unset;
    bottom: 15px;
    height: 30vh;
  }

  h3 {
    font-weight: 400;
    margin: 0 0 10px;
    opacity: 0.5;
    font-size: 15px;
  }

  p {
    margin: 9px 0;
    padding-bottom: 9px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(white, 0.3);
    }
  }

  .word {
    padding-right: 10px;
  }

  .count {
    opacity: 0.5;
  }
}
