$red: #e33d3d;
$blue: #6699ff;
$green: #3d9c48;
$yellow: #fadd02;
$purple: #9061c9;
$grey: grey;

$black: #1e1e1f;
$button-hover: #d6d6d6;

$mobile: 768px;

$screen-margin: 15px;
$mobile-logo-height: 32px;
