@import "variables";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}

// map

.land {
  fill: white;
  stroke-opacity: 1;
}

.graticule {
  fill: none;
}

.labels {
  font: 8px sans-serif;
  fill: black;
  opacity: 0.5;
}

.noclicks {
  pointer-events: none;
}

svg {
  cursor: pointer;
}

.messages {
  font-family: "Lato", sans-serif;
  fill: black;
  font-size: 20px;
  z-index: 10;
}

div.tooltip {
  position: fixed;
  text-align: left;
  padding: 15px 15px;
  max-width: 400px;
  color: black;
  font-family: "Lato", sans-serif;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;

  p {
    font-size: 16px;
    margin: 10px 0;
  }

  span {
    font-size: 12px;
    margin: 10px 0;
    opacity: 0.5;
  }
}
