@import "variables";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid transparent;

  &:visited {
    color: $black;
  }

  &:hover {
    border-bottom: 1px solid $black;
  }
}

// map

.land {
  fill: white;
  stroke-opacity: 1;
}

.graticule {
  stroke-opacity: 1;
  fill: none;
  stroke: rgba(white, 0.1);
}

.labels {
  font: 9px sans-serif;
  letter-spacing: 0.04rem;
  fill: $black;
  opacity: 0.7;
}

.noclicks {
  pointer-events: none;
}

svg {
  cursor: pointer;
}

.messages {
  font-family: "Lato", sans-serif;
  fill: $black;
  font-size: 20px;
  z-index: 10;
}

div.tooltip {
  position: fixed;
  text-align: left;
  padding: 20px;
  max-width: 400px;
  // min-width: 300px;
  color: $black;
  font-family: "Lato", sans-serif;
  border: 0px;
  border-radius: 3px;
  z-index: 999;
  pointer-events: none;

  @media screen and (max-width: $mobile) {
    padding: 15px;
  }

  p {
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 10px;

    @media screen and (max-width: $mobile) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  span {
    font-size: 12px;
    margin: 10px 0;
    opacity: 0.5;
  }
}
