<section>
  <ng-container *ngIf="users$ | async as users">
    <ng-container *ngFor="let user of users">
      <div class="user">
        <div class="circle {{user.mood}}"></div>
        <p>{{user.message}}</p>
        <span *ngIf="user.is_anonymous; else userInfo">
          Anonymous
        </span>
        <ng-template #userInfo>
          <span>{{user.name}}, {{user.gender}}, {{user.age}}, {{user.profession}}</span>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</section>

<!-- <div class="filters">
  Filter by
  <span>All</span>
  <span>Ages 10-20</span>
  <span>Mood Sadness (13/24, 50%)</span>
  <span>Gender (13/24, 50%)</span>
</div> -->
