@import "variables";

section {
  width: 100%;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

p {
  font-size: 24px;
  z-index: 1;
  font-family: "Frank Ruhl Libre", serif;
  line-height: 36px;
}

span {
  z-index: 1;
  font-size: 16px;
}

.user {
  min-height: 200px;
  padding: 100px 50px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.joy {
    background: $yellow;
  }

  &.fear {
    background: $purple;
  }

  &.disgust {
    background: $green;
  }

  &.anger {
    background: $red;
  }

  &.sadness {
    background: $blue;
  }

  &.mixed {
    background: $grey;
  }
}

.filters {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 55px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
