<section id="map-container">
</section>

<div class="controls">
  <button class="zoom in" (click)="zoom()">
    <svg viewBox="0 0 24 24">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </svg>
  </button>
  <button class="zoom out" (click)="zoom(false)">

    <svg viewBox="0 0 24 24">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path d="M19 13H5v-2h14v2z" />
    </svg>
  </button>
</div>

<div class="legend">
  <a routerLink="/list">
    <ng-container *ngFor="let mood of moodList">
      <span class="option">
        <span [style.width.px]="getPercentage(users, mood) * BAR_SCALAR" class="bar {{mood}}"></span>
        {{mood.charAt(0).toUpperCase() + mood.slice(1)}}
        <span class="percentage">
          {{ getPercentage(users, mood)}} %
        </span>
      </span>
    </ng-container>
  </a>
  <span class="suffix">of all location-enabled user submissions</span>
</div>