@import "variables";

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(grey, lightgrey);
  overflow: hidden;
}

.controls {
  position: fixed;
  left: $screen-margin;
  top: calc(#{$screen-margin} + 60px);

  @media screen and (max-width: 749px) {
    bottom: $screen-margin;
    left: unset;
    top: unset;
    right: $screen-margin;
  }
}

.zoom {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  border: solid 1px $black;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  touch-action: manipulation;
  border-radius: 50%;
}

svg {
  width: 30px;
  fill: white;
  height: 30px;
}

.legend {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;

  a {
    display: flex;
    flex-direction: column;
    font-size: 18px;

    &:focus,
    &:hover {
      border-bottom: 1px solid transparent;
    }

    @media screen and (max-width: $mobile) {
      font-size: 12px;
    }
  }

  .suffix {
    font-size: 13px;
    margin-top: 6px;

    span {
      line-height: 15px;
      display: inline-block;
    }

    @media screen and (max-width: $mobile) {
      font-size: 12px;
      line-height: 10px;
    }
  }

  .option {
    padding: 4px 0;

    .percentage {
      margin-left: 3px;
      opacity: .5;
    }

    @media screen and (max-width: $mobile) {
      padding: 1px 0;
    }
  }
}

.bar {
  width: 100px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid white;

  @media screen and (max-width: $mobile) {
    width: 50px;
    height: 10px;
  }

  &.joy {
    background: $yellow;
  }

  &.fear {
    background: $purple;
  }

  &.disgust {
    background: $green;
  }

  &.anger {
    background: $red;
  }

  &.sadness {
    background: $blue;
  }

  &.mixed {
    background: $grey;
  }
}
