@import "variables";

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(grey, lightgrey);
  overflow: hidden;
}

.controls {
  position: fixed;
  right: $screen-margin;
  bottom: $screen-margin;
}

.zoom {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-top: 10px;
  border: solid 1px $black;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  touch-action: manipulation;
  border-radius: 50%;
}

svg {
  width: 40px;
  fill: white;
  height: 40px;
}

.legend {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;

  .option {
    padding: 4px 0;

    @media screen and (max-width: $mobile) {
      padding: 2px 0;
    }
  }

  @media screen and (max-width: $mobile) {
    font-size: 13px;
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid white;

  @media screen and (max-width: $mobile) {
    width: 10px;
    height: 10px;
  }

  &.joy {
    background: $yellow;
  }

  &.fear {
    background: $purple;
  }

  &.disgust {
    background: $green;
  }

  &.anger {
    background: $red;
  }

  &.sadness {
    background: $blue;
  }

  &d.mixed {
    background: $grey;
  }
}
