<section id="map-container">
</section>

<div class="controls">
  <button class="zoom in" (click)="zoom()">
    <svg viewBox="0 0 24 24">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  </button>
  <button class="zoom out" (click)="zoom(false)">

    <svg viewBox="0 0 24 24">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path d="M19 13H5v-2h14v2z" /></svg>
  </button>
</div>

<a class="legend" routerLink="/list">
  <span class="option">
    <span class="circle joy"></span>
    Joy
    <span class="percentage">
      ({{ getPercentage(users, moodRef.JOY)}})
    </span>
  </span>
  <span class="option">
    <span class="circle anger"></span>
    Anger
    <span class="percentage">
      ({{ getPercentage(users, moodRef.ANGER)}})
    </span>
  </span>
  <span class="option">
    <span class="circle fear"></span>
    Fear
    <span class="percentage">
      ({{ getPercentage(users, moodRef.FEAR)}})
    </span>
  </span>
  <span class="option">
    <span class="circle disgust"></span>
    Disgust
    <span class="percentage">
      ({{ getPercentage(users, moodRef.DISGUST)}})
    </span>
  </span>
  <span class="option">
    <span class="circle sadness"></span>
    Sadness
    <span class="percentage">
      ({{ getPercentage(users, moodRef.SADNESS)}})
    </span>
  </span>
  <span class="option">
    <span class="circle mixed"></span>
    Mixed
    <span class="percentage">
      ({{ getPercentage(users, moodRef.MIXED)}})
    </span>
  </span>
  <span class="suffix">of all location-enabled user submissions</span>
</a>
