@import "variables";

:host {
  display: block;
  background: white;
}

.container {
  max-width: 960px;
  width: 90vw;
  padding: 0 0 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.instruction {
  line-height: 35px;
  margin: 90px 0 80px;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  font-family: "Frank Ruhl Libre", serif;
}

label {
  color: rgba(black, 0.5);
  font-size: 15px;
  margin-bottom: 7px;
  text-transform: capitalize;
}

textarea {
  padding: 10px 15px;
  margin: 0 auto;
  font-size: 28px;
  border: 0;
  line-height: 38px;
  width: 100%;
  height: 200px;
  resize: none;
  background: rgba(black, 0.03);
  border: none;
  color: rgba(black, 0.6);
}

.grid {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  color: rgba(black, 0.6);
  background: rgba(black, 0.03);
  padding: 10px 15px;
  border: none;
}

.circle {
  width: 120px;
  height: 120px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 0.3s ease, transform 0.3s ease;

  .anger & {
    background: $red;
  }

  .joy & {
    background: $yellow;
  }

  .fear & {
    background: $purple;
  }

  .disgust & {
    background: $green;
  }

  .sadness & {
    background: $blue;
  }

  .mixed & {
    background: $grey;
  }

  .selected & {
    transform: translateY(-15px);
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

button {
  margin: 50px auto 0;
  background: white;
  border: 1px solid rgba(black, 0.2);
  padding: 10px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  line-height: 35px;
  font-size: 30px;
  cursor: pointer;
  font-family: "Frank Ruhl Libre", serif;

  &:disabled {
    cursor: not-allowed;
    background: rgba(black, 0.1);
  }
}

.mood {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  > div {
    position: relative;
  }

  .text {
    opacity: 0.3;
    pointer-events: none;
    left: 50%;
    bottom: 0;
    font-size: 15px;
    transform: translate(-50%, 40px);
    position: absolute;
    z-index: 9;
    text-transform: capitalize;
    transition: all 0.3s ease;
    transform-origin: -50% center;
  }
}

.selected {
  .text {
    opacity: 1;
    font-size: 20px;
  }
}

.form-group {
  margin: 20px 0;

  &.message {
    label {
      display: block;
    }
  }

  &.name {
    width: 20%;

    label {
      display: block;
    }
  }

  &.age {
    width: 8%;

    label {
      display: block;
    }
  }

  &.profession {
    width: 20%;

    label {
      display: block;
    }
  }

  &.gender {
    width: 20%;
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    label {
      display: block;
    }
  }

  &.anonymous {
    input {
      width: unset;
      margin-right: 10px;
    }
  }
}

.error {
  visibility: hidden;

  &.show {
    visibility: visible;
    color: red;
  }

  &.normal {
    color: rgba(black, 0.4);
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(grey, 0.9);
  display: none;

  &.show {
    display: flex;
  }
}
