:host {
  display: block;
  background: white;
}

.container {
  max-width: 1000px;
  width: 90vw;
  padding: 80px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.instruction {
  margin-bottom: 40px;
}

.form-group {
  margin: 20px 0;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px 15px;
  border: 0;
  height: 250px;
  resize: none;
  border: 1px solid rgba(black, 0.15);
}

.grid {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 0;
  width: 100px;
  border: 1px solid rgba(black, 0.15);
  padding: 10px 15px;
}

.circle {
  width: 100px;
  height: 100px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: red;
  filter: blur(10px);

  .joy & {
    background: yellow;
  }

  .fear & {
    background: purple;
  }

  .disgust & {
    background: green;
  }

  .sadness & {
    background: blue;
  }
}

button {
  margin: 50px auto 0;
  padding: 20px;
}

.mood {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  > div {
    position: relative;
  }

  .text {
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9;
  }
}
