<div class="loading" [class.show]="isLoading">
  <p>Your mood is being submitted...</p>
</div>

<form class="container" [formGroup]="moodForm" (ngSubmit)="onSubmit(moodForm)" autocomplete="off">

  <div class="form-group big" *ngIf="selectedMood$ | async as selectedMood">
    <h1 class="instruction">
      How are you feeling?
    </h1>
    <div class="mood">
      <div class="joy" [class.selected]="selectedMood === moodRef.JOY" (click)="addMood(moodRef.JOY)">
        <div class="circle"></div>
        <span class="text">{{moodRef.JOY}}</span>
      </div>
      <div class="anger" [class.selected]="selectedMood === moodRef.ANGER" (click)="addMood(moodRef.ANGER)">
        <div class="circle"></div>
        <span class="text">{{moodRef.ANGER}}</span>
      </div>
      <div class="fear" [class.selected]="selectedMood === moodRef.FEAR" (click)="addMood(moodRef.FEAR)">
        <div class="circle"></div>
        <span class="text">{{moodRef.FEAR}}</span>
      </div>
      <div class="disgust" [class.selected]="selectedMood === moodRef.DISGUST" (click)="addMood(moodRef.DISGUST)">
        <div class="circle"></div>
        <span class="text">{{moodRef.DISGUST}}</span>
      </div>
      <div class="sadness" [class.selected]="selectedMood === moodRef.SADNESS" (click)="addMood(moodRef.SADNESS)">
        <div class="circle"></div>
        <span class="text">{{moodRef.SADNESS}}</span>
      </div>
      <div class="mixed" [class.selected]="selectedMood === moodRef.MIXED" (click)="addMood(moodRef.MIXED)">
        <div class="circle"></div>
        <span class="text">{{moodRef.MIXED}}</span>
      </div>
    </div>
  </div>

  <div class="form-group big message">
    <h1 class="instruction">
      What this pandemic has brought to you?
    </h1>
    <textarea id="message" formControlName="message" name="message" maxlength="600"></textarea>
  </div>

  <div class="grid">
    <div class="form-group name">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" name="name" maxlength="30">
    </div>
    <div class="form-group age">
      <label for="age">Age</label>
      <input type="text" id="age" formControlName="age" name="age" maxlength="3">
    </div>
    <div class="form-group gender">
      <div>
        <div *ngFor="let option of genderOptions">
          <label for="{{option}}" class="control control--radio">{{option}}
            <input type="radio" name="gender" id="{{option}}" value="{{option}}" formControlName="gender" />
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group profession">
      <label for="profession">Profession</label>
      <input type="text" id="profession" formControlName="profession" name="profession" maxlength="30">
    </div>

  </div>

  <div class="form-group anonymous">
    <label for="is_anonymous" class="control control--checkbox">I would rather leave my mood anonymously.
      <input type="checkbox" id="is_anonymous" formControlName="is_anonymous" name="is_anonymous" />
      <div class="control__indicator"></div>
    </label>

  </div>

  <p [class.show]="showErrorMessage" [class.normal]="moodForm.value.is_anonymous === true" class="error">
    Please fill in the form correctly. Or if you'd like to stay anonymous, tick the box above.
  </p>
  <button type="submit" [disabled]="!(moodForm.status === 'VALID' && moodForm.value.mood !== 'undefined')">
    Submit<br>Your Mood
  </button>

</form>
