@import "variables";

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 150px 30px;
  width: 100%;
}

p {
  max-width: 800px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  line-height: 32px;

  a {
    border-bottom: 1px solid black;
  }
}

.small {
  font-size: 14px;
  line-height: 22px;
}

.accent {
  padding-top: 50px;
  text-align: center;
  color: $green;

  a {
    color: $green;
    border-bottom: 1px solid $green;
  }
}

svg {
  width: 30px;
  height: 30px;
}

.social {
  text-align: center;
  padding: 20px 0;

  .twitter {
    margin-right: 20px;
  }
}
