@import "variables";

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 150px 30px;
  width: 100%;
}

p {
  max-width: 800px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  line-height: 32px;

  a {
    border-bottom: 1px solid black;
  }

  @media screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 26px;
  }
}

.small {
  font-size: 14px;
  line-height: 22px;

  @media screen and (max-width: $mobile) {
    font-size: 13px;
  }
}

.accent {
  padding-top: 40px;
  text-align: center;
  color: $purple;

  a {
    color: $purple;
    border-bottom: 1px solid $purple;
  }
}

svg {
  width: 30px;
  height: 30px;
}

.social {
  text-align: center;
  padding: 60px 0 0;

  .twitter {
    margin-right: 20px;
  }
}
