:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 30px;
  width: 100%;
}

p {
  max-width: 800px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  line-height: 32px;

  a {
    border-bottom: 1px solid black;
  }
}
