* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;

  &:visited {
    color: black;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}

// map

.land {
  fill: orange;
  stroke-opacity: 1;
}

.countries path {
  stroke-linejoin: round;
  stroke-width: 0.5;
  fill: rgb(117, 87, 57);
  opacity: 0.1;
}

.graticule {
  fill: none;
}

.labels {
  font: 8px sans-serif;
  fill: black;
  opacity: 0.5;
}

.noclicks {
  pointer-events: none;
}

.point {
  opacity: 0.6;
}

svg {
  cursor: pointer;
}

.messages {
  font: 18px sans-serif;
  fill: red;
  opacity: 0.5;
}
